li
{
	float: left;
	padding-right: .8%;
	padding-left: .8%;
}
li a
{
	color: white;
	text-decoration:none;
}

li a:hover 
{
	color:#ff9500;
}
ul
 {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  background-color: black;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 0px;
  
}

.blockItem 
{
	background-color: black;
	margin: 0px;
	padding: 3px;
	
	
}


img 
{
	display: block;
	height: auto;
}

p 
{
	color: white;
	text-align:center;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.1em;
	font-weight: 800;
}

section
{
	position: relative;
	display: inline-block;
}

p a 
{ 
	color:#ff9500;
}

.row {
  display: flex;
	
}

.column {
  display: block;
  margin-left: 0 auto;
  text-align: center;
}

#columnL {
  display: block;
  margin-left: 46.9%;
  margin-right: 20px;
  padding-bottom: 2%;
  padding-top: 1%;
}
#columnR {
  display: block;
  margin-left: 20px;
  padding-bottom: 2%;
  padding-top: 1%;
}
.icon
{

}

#bannerItem 
{
	float: left;
	border-right: 3px solid white;
	color: white;
}

#textBack
{
	background-color: rgba(91, 87, 87, 0.38);
	border-radius: 5%;
	padding: 3%;
	font-size: 2vw;
	
}

footer
{
	background-color: black;
	border-top: 4px solid white;
	margin: 0px;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 701px) {
	#textBack{
		font-size:2vw;
	}
	.centeredText
	{
		top: 40%;
	}
	

}

@media screen and (max-width: 700px) {
  #textBack {
    font-size: 3vw;
  }
  
}

@media screen and (max-width: 420px) {
	.centered
	{
		transform: translate(-50%, -135%);
	}
	p
	{
		padding: 12vw;
		font-size: 1.7em;
	}
	#columnL
	{
		margin-left: 37%;
	}
	
	#textBack
	{
		font-size: 3.5vw;
	}
	#backImage
	{
		height: 100vh;
	
	}	
	#bannerItem
	{
		margin-right: 45%;
	}

}